<!DOCTYPE html>
<html>
<head>
  <title>Profile-Page</title>
  <link rel="stylesheet" type="text/css" href= "css\profiledisplay.css">
</head>
<body>     
    <div class="header" id="Header">
      <div id="homepage">  
      </div>
      <div class="explore">
      </div> 
      <div class="marketingplace">     
      </div>
      <div class="yourposts">
      </div>
    </div>
    <div class="grid0" id="Grido">
      <div class="grid1" id="Grid1">
        <div id="profileinf">
          <div id="PhotoProfile">
          </div>
          <div id="UserName">  
          </div>
          <div id="ArtStyle">  
          </div>
          <div id="Address">  
          </div>
        </div>
      </div>
      <div class="grid2" id="Grid2">
        <div id="Galery"> 

        </div>
      </div>
      <div class="grid3" id="Grid3">
        <div id="FeedAcount">
        </div>

      </div>
      <div class="grid4" id="Grid4">
        <div id="ActionComunity"> 
          <div class="followers">     
          </div>
          <div class="following">
          </div> 
          <div class="yoursales">     
          </div>
        </div>
      </div>
      <div class="grid5" id="Grid5">
        <div id="ProfileBio">

        </div>

      </div>
    </div>
</body>
</html>