/*pagina */
* {
    margin: 0;
    padding: 0;
  }
  /*-------------------------- Header--------------------------*/ 
  /* o header foi feito com o 'grid layout' dividido em 3 parte 
  nomeadas de 'void0'void1'void2' */ 
  .header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: none;
    grid-template-areas: "void0 void1 void2";
    height: 70px;
    width: 100%;
    background-color: #282a36;
    border-radius: 10px;
    position: fixed;
  }
  /* void0 tem a logo ArtAccess que tambem tem um botão que que faz
   um refresh na pagina /home */
  .void0 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  /* botão/logo*/
  #HomePage {
    margin-right: 40px;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  /* void1 tem os botões de navegação de menu 'Product'Solutions'ForYou'Suport'*/
  .void1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
  }

 #Product {
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  #Product:active {
    color: #993399;
  }

  #Solutions {
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  #Solutions:active {
    color: #993399;
  }

  #ForYou {
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  #ForYou:active {
    color: #993399;
  }

  #Suport {
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  #Suport:active {
    color: #993399;
  }

  #Product #Solutions #ForYou #Suport {
    position: relative;
    border: none;
    background: none;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
  }
  
  #Product::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #993399; 
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
  }
  
  #Product:hover::after {
    transform: scaleX(1);
  }
  
  #Solutions::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px; 
    background-color: #993399; 
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
  }
  
  #Solutions:hover::after {
    transform: scaleX(1);
  }
  
  #ForYou::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px; 
    background-color: #993399; 
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
  }
  
  #ForYou:hover::after {
    transform: scaleX(1);
  }
  
  #Suport::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px; 
    background-color: #993399; 
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
  }
  
  #Suport:hover::after {
    transform: scaleX(1);
  }
  /* o void2 ele contem o botão de 'Register' que vai direcionar para
   a pagina que o usuario ira se registrar */ 
  .void2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  button[type="register"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    padding: 10px;
    margin-right: 25px;
    background: #be7abb;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
  }
  
  button:hover[type="register"] {
    background-color: #993399;
    transition: background-color 0.5s ease-in-out;
  }
  
  #Register:active {
    color: #993399;
  }

/*-------------------------- Body -------------------------- */
  
  body{
    background-color: #44475a;
    transition: background-color #be7abb;;
  }

  