* {
    margin: 0;
    padding: 0;
  }
  
  .header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: none;
    grid-template-areas: "void0 void1 void2";
    height: 70px;
    width: 100%;
    background-color: #282a36;
    border-radius: 10px;
    position: fixed;
  }
  
  .void0 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  #HomePage {
    margin-right: 40px;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  .void1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
  }

  button[type="product"] {
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  #Product:active {
    color: #993399;
  }

  button[type="solutions"] {
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  #Solutions:active {
    color: #993399;
  }

  button[type="foryou"] {
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  #ForYou:active {
    color: #993399;
  }

  button[type="suport"] {
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  #Suport:active {
    color: #993399;
  }
  
  .void2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  button[type="register"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    padding: 10px;
    margin-right: 25px;
    background: #be7abb;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
  }
  
  button:hover[type="register"] {
    background-color: #993399;
  }
  
  #Register:active {
    color: #993399;
  }
  
  body {
    background-color: #44475a;
    font-family: sans-serif;
  }
  
  .log {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1215px;
  }
  
  .content {
    width: 300px;
  }
  
  .appearance {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: 200px;
    background-color: #282a36;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    width: center;
    height: center;
  }
  
  .fontlogin {
    text-align: center;
    margin-bottom: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #be7abb;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 280px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    border: none;
    background-color: #44475a;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  #UserLogin::placeholder {
    color: rgb(255, 255, 255);
  }
  
  #PasswordLogin::placeholder {
    color: rgb(255, 255, 255);
  }
  
  button[type="login"] {
    width: 80px;
    height: 38px;
    padding: 10px;
    background-color: #be7abb;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  button:hover[type="login"] {
    background-color: #993399;
  }
  
  #EnterLogin:active {
    color: #993399;
  }
  
  button[type="forgotpassword"] {
    width: 119px;
    margin-left: 85px;
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  #ForgotPass:active {
    color: #993399;
  }
  
  #AlertLog {
    margin-top: 10px;
    margin-left: 72px;
    color: white;
    font-size: 15px;
  }
  
  .footerbase {
    display: flex;
    justify-content: center;
  }
  
  .gridbase {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: none;
    grid-template-areas: "void3 void4 void5";
    height: 150px;
    width: 100%;
    border-radius: 10px;
    background-color: #282a36;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .corporatedisclaimer {
    display: flex;
    position: fixed;
    margin: 20px;
    width: 400px;
    height: 110px;
    background: transparent;
    border-radius: 25px;
  }
  
  h6 {
    display: block;
    justify-content: center;
    align-items: center;
    position: fixed;
    white-space: pre-line;
    height: auto;
    width: auto;
    margin: 5px;
    text-align: left;
    color: white;
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .cellfooter0 {
    display: flex;
    align-items: first baseline;
    justify-content: center;
    background-color: transparent;
    margin-top: 110px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  button[type="advertising"] {
    display: flex;
    padding: 7px;
    height: 10px;
    color: white;
    background-color: transparent;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  #Advertising:active {
    color: #993399;
  }
  
  button[type="cookies"] {
    display: flex;
    padding: 7px;
    height: 10px;
    color: white;
    background-color: transparent;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  #Cookies:active {
    color: #993399;
  }
  
  button[type="privacy"] {
    display: flex;
    padding: 7px;
    height: 10px;
    color: white;
    background-color: transparent;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  #Privacy:active {
    color: #993399;
  }
  
  button[type="terms"] {
    display: flex;
    padding: 7px;
    height: 10px;
    color: white;
    background-color: transparent;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  #Terms:active {
    color: #993399;
  }
  
  .void5 {
    padding: auto;
  }
  
  .netfooter {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  button[type="socialmidia0"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-right: 20px;
    background-color: #0e76a8;
    border: none;
    cursor: pointer;
  }
  
  button:hover[type="socialmidia0"] {
    background-color: #be7abb;
  }
  
  #SM0:active {
    background-color: #993399;
  }
  
  button[type="socialmidia1"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-right: 20px;
    background-color: #0e76a8;
    border: none;
    cursor: pointer;
  }
  
  button:hover[type="socialmidia1"] {
    background: #be7abb;
  }
  
  #SM1:active {
    background: #993399;
  }
  
  button[type="socialmidia2"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-right: 20px;
    background-color: #0e76a8;
    border: none;
    cursor: pointer;
  }
  
  button:hover[type="socialmidia2"] {
    background-color: #be7abb;
  }
  
  #SM2:active {
    background-color: #993399;
  }
  
  button[type="socialmidia3"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-right: 20px;
    background-color: #0e76a8;
    border: none;
    cursor: pointer;
  }
  
  button:hover[type="socialmidia3"] {
    background-color: #be7abb;
  }
  
  #SM3:active {
    background-color: #993399;
  }
  