<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="author" content="JunkLab">
    <meta charset="UTF-8">
    <meta name="viweport" content="width=device-width,initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" type="text/css" href= "css/logindisplay.css">
    <script type="application/javascript" src="Script/login.js" ></script>
      <div class="header">
        <div class="void0" id="Void0">
          <div class="logohome">
            <button id="HomePage" onclick="redihome()">
              <img src="img/LogoArtAccess/ArtAccesslogo.png" alt="homepage">
            </button>
          </div>
        </div>
        <div class="void1" id="Void1">
          <button id="Product" onclick="product(), underline('Product')">Products</button>
          <button id="Solutions" onclick="solutions(), underline('Solutions')">Solutions</button>
          <button id="ForYou" onclick="foryou(), underline('ForYou')">For You</button>
          <button id="Suport" onclick="suport(), underline('Suport')">Suport</button>
        </div>
        <div class="void2" id="Void2">
        <div>
          <button type="loginbutton" id="Login" onclick="loginbutton()" title="Login">Login</button>
        </div>
        <div id="ButtonRegister">
          <button type="register" id="Register" onclick="register()" title="Register">Register</button>
        </div>
      </div>
    </div>
  </head>
<body>
  <main>
  <div class="log">
    <div class="appearance" title="Login">
      <div class="content">
        <h1 class="fontlogin" id="FontLogin">Login</h1>
          <form onsubmit="login();return false">
            <input type="text" id="UserLogin" placeholder="User" required  title="Username">
            <input type="password" id="PasswordLogin" placeholder="Password" required title="Password" >
            <button type="login" Id="EnterLogin" title="Enter">Enter</button>
            <button id="ForgotPass" onclick="forgotpass()" title="Forgot password">Forgot password? </button>
          </form>
        <div id="AlertLog"></div>
      </div>
    </div>
  </div>
  </main>
  <footer>
  <div class="footerbase">
    <div class="gridbase">
      <div class="void3">
        <div class="corporatedisclaimer" id="NoteDisclaimer">
          <div  class="corporatetxt" id="Note0" title="Corporate disclaimer">
            <h6>ArtAcess is part of JunkLab,an international media group
                and leading digital publisher.Visit our corporate site.
                © JunkLab, Street ******, 423, Recife-PE, Brazil.
                All rights reserved. Brazil company registration number 
                **.***.***/****-**.
            </h6>
          </div>
        </div>
      </div>
      <div class="void4">
        <div class="cellfooter0" id="CellFooter0">
          <button id="Advertising" onclick="advertising()">Advertising </button>
          <button id="Cookies" onclick="cookeis()">Cookies & Policies</button>
          <button id="Privacy" onclick="privacy()">Privacy</button>
          <button id="Terms" onclick="terms()">Terms & Conditions</button>
        </div>
      </div>
        <div class="void5"> 
          <div class="netfooter" id="NetFooter">     
            <button id="SM0" onclick="sm0()" title="YouTube">
              <img src="img/socialmidia/YouTube.png" alt="YouTube" width="20px" height="20px">
            </button>
            <button id="SM1" onclick="sm1()" title="FaceBook">
              <img src="img/socialmidia/FaceBook.png" alt="FaceBook" width="20px" height="20px">
            </button>
            <button id="SM2" onclick="sm2()" title="LinkedIn">
              <img src="img/socialmidia/LinkedIn.png" alt="LinkedIn" width="20px" height="20px">
            </button>
            <button id="SM3" onclick="sm3()" title="Reddit">
              <img src="img/socialmidia/Reddit.png" alt="Reddit" width="20px" height="20px">
            </button>
          </div>
        </div>
      </div>
    </div>
  </footer>
  </body>
</html>