<!DOCTYPE html>
<html>
<head>
  <title>HomePage - Login</title>
  <link rel="stylesheet" type="text/css" href="/css/modular.css">
</head>
  <body>
    <div class="header">
      <div class="void0" id="Void0">
        <button type="homepage" id="ButtonHomePage">
          <img src="\img\midiasocial\homepage.png" title="Homepage" alt="HomePage" width="43px" height="43px">
        </button>
      </div>
      <div class="void1" id="Void1"></div>
      <div class="void2" id="Void2">
        <div class="buttonregister" id="ButtonRegister"> 
          <button type="register" id="Register" title="Register">Register</button>
        </div>
      </div>
    </div>
    <div class="login">
      <div class="appearance" title="Login">
        <div class="content">
          <h1 class="fontlogin" id="FontLogin">Login</h1>
            <form">
              <input type="userlogin" id="UserLogin" placeholder="User" required  title="Username">
              <input type="passwordlogin" id="PasswordLogin" placeholder="Password" required title="Password" >
              <button type="submitlogin" Id="EnterLogin" title="Enter">Enter</button>
              <button type="forgotpassword" id="ForgotPass" title="Forgot password" >Forgot password? </button>
            </form>
        </div>
      </div>
    </div>
    <div class="footerbase">
      <div class="gridbase">
        <div class="void3">
          <div class="corporatedisclaimer" id="NoteDisclaimer">
            <div  class="corporatetxt" id="Note0" title="Corporate disclaimer">
              <h6>ArtAcess is part of JunkLab,an international media group
                and leading digital publisher.Visit our corporate site.
                © JunkLab, Street ******, 423, Recife-PE, Brazil.
                All rights reserved. Brazil company registration number 
                **.***.***/****-**.
              </h6>
            </div>
         </div>
        </div>
        <div class="void4">
          <div class="cellfooter0" id="CellFooter0">
            <button type="advertising" id="Advertising">Advertising </button>
            <button type="cookies" id="Cookies">Cookies & Policies</button>
            <button type="privacy" id="Privacy">Privacy</button>
            <button type="terms" id="Terms">Terms & Conditions</button>
          </div>
        </div>
        <div class="void5">
          <div class="netfooter" id="NetFooter">
            <button Type="socialmidia0" id="SM0" title="YouTube">
              <img src="img\midiasocial\youtube.png" alt="homepage" width="43px" height="43px">
            </button>
            <button Type="socialmidia1" id="SM1" title="Instagram">
              <img src="img\midiasocial\instagram.png" alt="HomePage" width="43px" height="43px">
            </button>
            <button Type="socialmidia2" id="SM2" title="LinkedIn">
              <img src="\img\midiasocial\linkerInlogo.png" alt="HomePage" width="43px" height="43px">
            </button>
            <button Type="socialmidia3" id="SM3" title="Spotify">
              <img src="img\midiasocial\spotifylogo.png"   alt="HomePage" width="43px" height="43px">
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>