<!DOCTYPE html>
<html>
<head>
  <title>HomePage - Login</title>
  <link rel="stylesheet" type="text/css" href="/css/modular.css">
</head>
  <body>
    <div class="header">
      <button type="homepage" id="ButtonHomePage">
        <img src="img/midiasocial/instagramlog1.png" title="Homepage" alt="HomePage" width="43px" height="43px">
      </button>
      <button type="register" id="Register" title="Register">Register</button>
    </div>
    <div class="login">
      <div class="appearance" title="Login">
        <div class="content">
          <h1 class="fontlogin" id="FontLogin">Login</h1>
            <form">
              <input type="userlogin" id="UserLogin" placeholder="User" required  title="Username">
              <input type="passwordlogin" id="PasswordLogin" placeholder="Password" required title="Password" >
              <button type="submitlogin" Id="EnterLogin" title="Enter">Enter</button>
              <button type="forgotpassword" id="ForgotPass" title="Forgot password" >Forgot password? </button>
            </form>
        </div>
      </div>
    </div>
    <div class="footerbase">
      <div class="corporatedisclaimer" id="NoteDisclaimer">
        <div  class="corporatetxt" id="Note0" title="Corporate disclaimer">
          <h6>ArtAcess is part of JunkLab,an international media group
            and leading digital publisher.Visit our corporate site.
            © JunkLab, Street ******, 423, Recife-PE, Brazil.
            All rights reserved. Brazil company registration number 
            **.***.***/****-**.
          </h6>
        </div>
      </div>
        <form>
          <div class="cellfooter0" id="CellFooter0">
          </div>
            <div class="cellfooter1" id="CellFooter1">
              <button type="advertising" id="Advertising">Advertising </button>
              <button type="cookies" id="Cookies">Cookies & Policies</button>
              <button type="privacy" id="Privacy">Privacy</button>
              <button type="terms" id="Terms">Terms & Conditions</button>
            </div>
        </form>
      <div class="netfooter" id="netFooter">
          <button Type="socialmidia0" id="SM0" title="Facebook">
            <img src="img/midiasocial/instagramlog1.png" alt="homepage" width="43px" height="43px">
          </button>
          <button Type="socialmidia1" id="SM1" title="Instagem">
            <img src="img/midiasocial/instagramlog1.png" alt="HomePage" width="43px" height="43px">
          </button>
          <button Type="socialmidia2" id="SM2" title="LinkedIn">
            <img src="img/midiasocial/instagramlog1.png" alt="HomePage" width="43px" height="43px">
          </button>
          <button Type="socialmidia3" id="SM3" title="Reddit">
            <img src="img/midiasocial/instagramlog1.png" alt="HomePage" width="43px" height="43px">
          </button>
      </div>
    </div>
</body>
</html>