<!DOCTYPE html>
<html>
<head>
  <title>HomePage - Login</title>
  <link rel="stylesheet" type="text/css" href= "css\logindisplay.css">
  <script type="application/javascript" src="Script/login.js" ></script>
  <div class="header">
    <div class="void0" id="Void0">
      <div class="logohome">
        <button type="logohome">
          <img src="img/LogoArtAccess/logoartaccess.png" alt="HomePage">
        </button>
      </div>
    </div>
    <div class="void1" id="Void1">
      <div class="product" id="Product">Products</div>
      <div class="solutions" id="Solutions">Solutions</div>
      <div class="foryou" id="ForYou">ForYou</div>
      <div class="Surpot" id="Suport">Suport</div>
    </div>
    <div class="void2" id="Void2">
    <div class="buttonregister" id="ButtonRegister"> 
      <button type="register" id="Register" title="Register">Register</button>
    </div>
  </div>
</div>
</head>
<body>
  <div class="log">
    <div class="appearance" title="Login">
      <div class="content">
        <h1 class="fontlogin" id="FontLogin">Login</h1>
          <form onsubmit="login();return false">
            <input type="text" id="UserLogin" placeholder="User" required  title="Username">
            <input type="password" id="PasswordLogin" placeholder="Password" required title="Password" >
            <button type="login" Id="EnterLogin" title="Enter">Enter</button>
            <button type="forgotpassword" id="ForgotPass" title="Forgot password">Forgot password? </button>
          </form>
        <div id="AlertLog"></div>
      </div>
    </div>
  </div>
  <div class="footerbase">
    <div class="gridbase">
      <div class="void3">
        <div class="corporatedisclaimer" id="NoteDisclaimer">
          <div  class="corporatetxt" id="Note0" title="Corporate disclaimer">
            <h6>ArtAcess is part of JunkLab,an international media group
                and leading digital publisher.Visit our corporate site.
                © JunkLab, Street ******, 423, Recife-PE, Brazil.
                All rights reserved. Brazil company registration number 
                **.***.***/****-**.
            </h6>
          </div>
        </div>
      </div>
      <div class="void4">
        <div class="cellfooter0" id="CellFooter0">
          <button type="advertising" id="Advertising">Advertising </button>
          <button type="cookies" id="Cookies">Cookies & Policies</button>
          <button type="privacy" id="Privacy">Privacy</button>
          <button type="terms" id="Terms">Terms & Conditions</button>
        </div>
      </div>
        <div class="void5"> 
          <div class="netfooter" id="NetFooter">     
            <button Type="socialmidia0" id="SM0" title="YouTube">
              <img src="img/socialmidia/YouTube.png" alt="YouTube" width="20px" height="20px">
            </button>
            <button Type="socialmidia1" id="SM1" title="FaceBook">
              <img src="img/socialmidia/FaceBook.png" alt="FaceBook" width="20px" height="20px">
            </button>
            <button Type="socialmidia2" id="SM2" title="LinkedIn">
              <img src="img/socialmidia/LinkedIn.png" alt="LinkedIn" width="20px" height="20px">
            </button>
            <button Type="socialmidia3" id="SM3" title="Reddit">
              <img src="img/socialmidia/Reddit.png" alt="Reddit" width="20px" height="20px">
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>