<!DOCTYPE html>
<html>
<head>
  <title>ProfilePage</title>
  <link rel="stylesheet" type="text/css" href= "D:\ProjetoArtAcess\ArtAcess\public\css\profiledisplay.css">
</head>
<body>        
    <div class="header" id="Header">
    </div>
    <div class="profileline">
        <div class="photoprofile"> 
        </div>
        <div class="username">
        </div>
        <div class="inf0">
        </div>
        <div class="inf1">    
        </div>
        <div class="inf3">
        </div>
        <div class="inf4">
        </div>
    </div>
</body>
</html>