<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="author" content="JunkLab">
    <meta charset="UTF-8">
    <meta name="viweport" content="width=device-width,initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" type="text/css" href= "css/homedisplay.css">
    <script type="application/javascript" src="Script/home.js" ></script>
      <div class="header">
        <div class="void0" id="Void0">
          <div class="logohome">
            <button id="HomePage" onclick="redihome()">
              <img src="img/LogoArtAccess/ArtAccesslogo.png" alt="homepage">
            </button>
          </div>
        </div>
        <div class="void1" id="Void1">
          <button id="Product" onclick="product(), underline('Product')">Products</button>
          <button id="Solutions" onclick="solutions(), underline('Solutions')">Solutions</button>
          <button id="ForYou" onclick="foryou(), underline('ForYou')">For You</button>
          <button id="Suport" onclick="suport(), underline('Suport')">Suport</button>
        </div>
        <div class="void2" id="Void2">
        <div>
          <button type="login" id="Login" onclick="login()" title="Login">Login</button>
        </div>
        <div id="ButtonRegister">
          <button type="register" id="Register" onclick="register()" title="Register">Register</button>
        </div>
      </div>
    </div>
  </head>
  <body>
    <main>
    </main>
  </body>
</html>